@use '../abstracts/var' as *;
@use '../base/global';

.dashboard-page {
	@extend .container;
	padding: ($spacing-unit * 6) 0;

	&__grid {
		display: grid;
		grid-template-columns: 2fr 1.1fr;
		gap: ($spacing-unit * 4);

		@media (max-width: $bp-tablet) {
			grid-template-columns: 1fr;
		}
	}

	&__col { display: block; }
}





