@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

$color-btn-primary: #FF6B58;
$color-btn-secondary: #1F2A44;
$color-text-primary: #0D1421;
$color-text-secondary: #58667E;
$color-bg-primary: #F9FAFB;
$color-bg-secondary: #F8FAFD;
$color-white: #ffffff;
$color-border: #EFF2F5;
$color-footer-text:#808A9D;
$color-input-line:#EFF2F5;
$color-input-line-text:#A6B0C3;
$color-price-drop-down:#B91C1C;

$font-primary: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
$font-secondary: 'Outfit', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-large: 1440px;

$spacing-unit: 8px;
