@use '../abstracts/var' as *;
@use '../base/global';

.global-footer {
    padding: ($spacing-unit * 5.675) 0;
    border-top: 1px solid $color-border;

    &__inner {
        @extend .container;
        display: flex;
        flex-direction: column;
        gap: ($spacing-unit * 4);

        @media (min-width: $bp-tablet) {
        flex-direction: row;
        justify-content: space-between;
    }
    }

    &__brand {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
    }


    &__copy {
        font-size: 14px;
        color: $color-footer-text;
    }

    &__cols {
        display: flex;
        gap: ($spacing-unit * 18.375);
        flex-wrap: wrap;
    }

    &__col {
        display: flex;
        flex-direction: column;
        gap: ($spacing-unit * 2);
    }

    &__col-title {
        font-weight: 600;
        color: $color-text-primary;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: $spacing-unit;
    }

    &__link {
        color: $color-text-secondary;
        font-size: 0.875rem;

        &:hover {
            color: $color-btn-primary;
        }
    }
}
