@use '../abstracts/var' as *;
@use '../base/global';

.header-nav {
    background-color: $color-white;
    border-bottom: 1px solid $color-border;
    padding: ($spacing-unit * 2) 0;

    &__inner {
        @extend .container;
        display: flex;
        align-items: center;
    }

    &__logo {
        height: 30px;
        width: auto;
        margin-right: ($spacing-unit * 2.5);
    }

    &__brand {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: none;

        @media (min-width: $bp-tablet) {
            display: block;
        }
    }

    &__list {
        display: flex;
        gap: ($spacing-unit * 2.5);

    }

    &__link {
        font-weight: 500;
        color: $color-text-primary;
        font-size: 14px;

        &:hover {
            color: $color-btn-primary;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: ($spacing-unit * 3.125);
        margin-left: auto;
    }

    &__watchlist {
        display: flex;
        align-items: center;
        gap: $spacing-unit;
        color: $color-text-primary;
        font-weight: 500;
        font-size: 14px;
        
        &-icon {
            width: 16px;
            height: 16px;
        }
    }

    &__search {
        position: relative;
        display: none;

        @media (min-width: $bp-desktop) {
            display: block;
        }

        &-input {
            padding: $spacing-unit ($spacing-unit * 4);
            border-radius: 10px;
            background-color: $color-input-line;
            color: $color-text-primary;
            font-size: 14px;
            font-weight: 600;
            max-width: 250px;
            height: 40px;
            border: 0;

            &::placeholder {
            color: $color-input-line-text;
        }
            
            &:focus {
                outline: none;
            }
        }

        &-icon {
            position: absolute;
            left: $spacing-unit;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            pointer-events: none;
        }
    }

    &__btn {
        padding: $spacing-unit ($spacing-unit * 2.4);
        max-width: 80px;
        height: 40px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
        border: none;
        transition: background-color 0.2s;

        &--primary {
            background-color: $color-btn-primary;
            color: $color-white;
            box-shadow: 0 0 10px -1px rgba(255, 107, 92, 0.3), 0 0 10px -1px rgba(255, 107, 92, 0.3);

            &:hover {
                padding: $spacing-unit ($spacing-unit * 2.275);
                max-width: 80px;
                background-color: $color-white;
                border: 1px solid $color-btn-primary;
                color: $color-btn-primary;
            }
        }
    }
}
